.flower:nth-child(1) {
  transform: translate(42.303vw, -10px) scale(1);
  animation: fall-1 28s -15s linear infinite;
}
@keyframes fall-1 {
  53.279% {
    transform: translate(42.3602vw, 53.279vh) scale(1);
  }
  to {
    transform: translate(42.3316vw, 100vh) scale(1);
  }
}
.flower:nth-child(2) {
  transform: translate(80.9232vw, -10px) scale(0.87);
  animation: fall-2 10s -3s linear infinite;
}
@keyframes fall-2 {
  31.894% {
    transform: translate(82.9906vw, 31.894vh) scale(0.87);
  }
  to {
    transform: translate(81.9569vw, 100vh) scale(0.87);
  }
}
.flower:nth-child(3) {
  transform: translate(23.5231vw, -10px) scale(0.94);
  animation: fall-3 17s -3s linear infinite;
}
@keyframes fall-3 {
  30.482% {
    transform: translate(22.7118vw, 30.482vh) scale(0.94);
  }
  to {
    transform: translate(23.11745vw, 100vh) scale(0.94);
  }
}
.flower:nth-child(4) {
  transform: translate(24.3957vw, -10px) scale(0.96);
  animation: fall-4 21s -28s linear infinite;
}
@keyframes fall-4 {
  79.127% {
    transform: translate(32.1444vw, 79.127vh) scale(0.96);
  }
  to {
    transform: translate(28.27005vw, 100vh) scale(0.96);
  }
}
.flower:nth-child(5) {
  transform: translate(39.9908vw, -10px) scale(0.92);
  animation: fall-5 11s -18s linear infinite;
}
@keyframes fall-5 {
  52.563% {
    transform: translate(37.0703vw, 52.563vh) scale(0.92);
  }
  to {
    transform: translate(38.53055vw, 100vh) scale(0.92);
  }
}
.flower:nth-child(6) {
  transform: translate(38.1287vw, -10px) scale(0.97);
  animation: fall-6 13s -28s linear infinite;
}
@keyframes fall-6 {
  62.78% {
    transform: translate(31.3774vw, 62.78vh) scale(0.97);
  }
  to {
    transform: translate(34.75305vw, 100vh) scale(0.97);
  }
}
.flower:nth-child(7) {
  transform: translate(62.2639vw, -10px) scale(0.84);
  animation: fall-7 18s -22s linear infinite;
}
@keyframes fall-7 {
  65.404% {
    transform: translate(53.3277vw, 65.404vh) scale(0.84);
  }
  to {
    transform: translate(57.7958vw, 100vh) scale(0.84);
  }
}
.flower:nth-child(8) {
  transform: translate(45.2116vw, -10px) scale(0.81);
  animation: fall-8 14s -22s linear infinite;
}
@keyframes fall-8 {
  54.019% {
    transform: translate(42.7924vw, 54.019vh) scale(0.81);
  }
  to {
    transform: translate(44.002vw, 100vh) scale(0.81);
  }
}
.flower:nth-child(9) {
  transform: translate(57.7999vw, -10px) scale(0.96);
  animation: fall-9 22s -26s linear infinite;
}
@keyframes fall-9 {
  49.102% {
    transform: translate(49.8242vw, 49.102vh) scale(0.96);
  }
  to {
    transform: translate(53.81205vw, 100vh) scale(0.96);
  }
}
.flower:nth-child(10) {
  transform: translate(36.0975vw, -10px) scale(0.84);
  animation: fall-10 18s -19s linear infinite;
}
@keyframes fall-10 {
  45.645% {
    transform: translate(29.1933vw, 45.645vh) scale(0.84);
  }
  to {
    transform: translate(32.6454vw, 100vh) scale(0.84);
  }
}
.flower:nth-child(11) {
  transform: translate(11.7588vw, -10px) scale(0.9);
  animation: fall-11 30s -11s linear infinite;
}
@keyframes fall-11 {
  64.285% {
    transform: translate(9.6389vw, 64.285vh) scale(0.9);
  }
  to {
    transform: translate(10.69885vw, 100vh) scale(0.9);
  }
}
.flower:nth-child(12) {
  transform: translate(73.1703vw, -10px) scale(0.96);
  animation: fall-12 25s -29s linear infinite;
}
@keyframes fall-12 {
  38.295% {
    transform: translate(64.3558vw, 38.295vh) scale(0.96);
  }
  to {
    transform: translate(68.76305vw, 100vh) scale(0.96);
  }
}
.flower:nth-child(13) {
  transform: translate(37.7008vw, -10px) scale(0.94);
  animation: fall-13 19s -29s linear infinite;
}
@keyframes fall-13 {
  79.454% {
    transform: translate(32.6522vw, 79.454vh) scale(0.94);
  }
  to {
    transform: translate(35.1765vw, 100vh) scale(0.94);
  }
}
.flower:nth-child(14) {
  transform: translate(2.2446vw, -10px) scale(0.84);
  animation: fall-14 20s -9s linear infinite;
}
@keyframes fall-14 {
  43.28% {
    transform: translate(-5.6587vw, 43.28vh) scale(0.84);
  }
  to {
    transform: translate(-1.70705vw, 100vh) scale(0.84);
  }
}
.flower:nth-child(15) {
  transform: translate(36.3425vw, -10px) scale(0.92);
  animation: fall-15 24s -23s linear infinite;
}
@keyframes fall-15 {
  40.876% {
    transform: translate(44.1474vw, 40.876vh) scale(0.92);
  }
  to {
    transform: translate(40.24495vw, 100vh) scale(0.92);
  }
}
.flower:nth-child(16) {
  transform: translate(34.1397vw, -10px) scale(0.93);
  animation: fall-16 22s -5s linear infinite;
}
@keyframes fall-16 {
  59.37% {
    transform: translate(30.1541vw, 59.37vh) scale(0.93);
  }
  to {
    transform: translate(32.1469vw, 100vh) scale(0.93);
  }
}
.flower:nth-child(17) {
  transform: translate(54.6989vw, -10px) scale(0.84);
  animation: fall-17 25s -2s linear infinite;
}
@keyframes fall-17 {
  49.455% {
    transform: translate(64.0592vw, 49.455vh) scale(0.84);
  }
  to {
    transform: translate(59.37905vw, 100vh) scale(0.84);
  }
}
.flower:nth-child(18) {
  transform: translate(22.8064vw, -10px) scale(0.98);
  animation: fall-18 20s -16s linear infinite;
}
@keyframes fall-18 {
  32.997% {
    transform: translate(23.5896vw, 32.997vh) scale(0.98);
  }
  to {
    transform: translate(23.198vw, 100vh) scale(0.98);
  }
}
.flower:nth-child(19) {
  transform: translate(21.8317vw, -10px) scale(0.81);
  animation: fall-19 13s -22s linear infinite;
}
@keyframes fall-19 {
  62.689% {
    transform: translate(17.6144vw, 62.689vh) scale(0.81);
  }
  to {
    transform: translate(19.72305vw, 100vh) scale(0.81);
  }
}
.flower:nth-child(20) {
  transform: translate(79.9721vw, -10px) scale(0.81);
  animation: fall-20 17s -18s linear infinite;
}
@keyframes fall-20 {
  61.415% {
    transform: translate(74.3128vw, 61.415vh) scale(0.81);
  }
  to {
    transform: translate(77.14245vw, 100vh) scale(0.81);
  }
}
.flower:nth-child(21) {
  transform: translate(20.1174vw, -10px) scale(0.94);
  animation: fall-21 21s -21s linear infinite;
}
@keyframes fall-21 {
  35.259% {
    transform: translate(28.091vw, 35.259vh) scale(0.94);
  }
  to {
    transform: translate(24.1042vw, 100vh) scale(0.94);
  }
}
.flower:nth-child(22) {
  transform: translate(75.6634vw, -10px) scale(1);
  animation: fall-22 21s -28s linear infinite;
}
@keyframes fall-22 {
  78.329% {
    transform: translate(80.7807vw, 78.329vh) scale(1);
  }
  to {
    transform: translate(78.22205vw, 100vh) scale(1);
  }
}
.flower:nth-child(23) {
  transform: translate(86.8119vw, -10px) scale(0.83);
  animation: fall-23 19s -7s linear infinite;
}
@keyframes fall-23 {
  39.917% {
    transform: translate(85.7309vw, 39.917vh) scale(0.83);
  }
  to {
    transform: translate(86.2714vw, 100vh) scale(0.83);
  }
}
.flower:nth-child(24) {
  transform: translate(31.614vw, -10px) scale(0.92);
  animation: fall-24 19s -5s linear infinite;
}
@keyframes fall-24 {
  59.269% {
    transform: translate(40.0801vw, 59.269vh) scale(0.92);
  }
  to {
    transform: translate(35.84705vw, 100vh) scale(0.92);
  }
}
.flower:nth-child(25) {
  transform: translate(5.6965vw, -10px) scale(0.86);
  animation: fall-25 20s -28s linear infinite;
}
@keyframes fall-25 {
  78.396% {
    transform: translate(-2.3836vw, 78.396vh) scale(0.86);
  }
  to {
    transform: translate(1.65645vw, 100vh) scale(0.86);
  }
}
.flower:nth-child(26) {
  transform: translate(4.9395vw, -10px) scale(0.95);
  animation: fall-26 29s -1s linear infinite;
}
@keyframes fall-26 {
  47.149% {
    transform: translate(14.5124vw, 47.149vh) scale(0.95);
  }
  to {
    transform: translate(9.72595vw, 100vh) scale(0.95);
  }
}
.flower:nth-child(27) {
  transform: translate(1.2554vw, -10px) scale(0.92);
  animation: fall-27 20s -19s linear infinite;
}
@keyframes fall-27 {
  56.959% {
    transform: translate(-1.6884vw, 56.959vh) scale(0.92);
  }
  to {
    transform: translate(-0.2165vw, 100vh) scale(0.92);
  }
}
.flower:nth-child(28) {
  transform: translate(7.6206vw, -10px) scale(0.89);
  animation: fall-28 13s -21s linear infinite;
}
@keyframes fall-28 {
  69.003% {
    transform: translate(6.6526vw, 69.003vh) scale(0.89);
  }
  to {
    transform: translate(7.1366vw, 100vh) scale(0.89);
  }
}
.flower:nth-child(29) {
  transform: translate(93.7381vw, -10px) scale(0.81);
  animation: fall-29 11s -21s linear infinite;
}
@keyframes fall-29 {
  74.056% {
    transform: translate(102.4397vw, 74.056vh) scale(0.81);
  }
  to {
    transform: translate(98.0889vw, 100vh) scale(0.81);
  }
}
.flower:nth-child(30) {
  transform: translate(24.7538vw, -10px) scale(0.99);
  animation: fall-30 10s -30s linear infinite;
}
@keyframes fall-30 {
  59.923% {
    transform: translate(29.9726vw, 59.923vh) scale(0.99);
  }
  to {
    transform: translate(27.3632vw, 100vh) scale(0.99);
  }
}
.flower:nth-child(31) {
  transform: translate(55.7663vw, -10px) scale(0.95);
  animation: fall-31 30s -26s linear infinite;
}
@keyframes fall-31 {
  38.27% {
    transform: translate(53.1349vw, 38.27vh) scale(0.95);
  }
  to {
    transform: translate(54.4506vw, 100vh) scale(0.95);
  }
}
.flower:nth-child(32) {
  transform: translate(74.227vw, -10px) scale(0.93);
  animation: fall-32 23s -1s linear infinite;
}
@keyframes fall-32 {
  74.201% {
    transform: translate(64.3144vw, 74.201vh) scale(0.93);
  }
  to {
    transform: translate(69.2707vw, 100vh) scale(0.93);
  }
}
.flower:nth-child(33) {
  transform: translate(11.5759vw, -10px) scale(0.92);
  animation: fall-33 14s -23s linear infinite;
}
@keyframes fall-33 {
  44.115% {
    transform: translate(16.5694vw, 44.115vh) scale(0.92);
  }
  to {
    transform: translate(14.07265vw, 100vh) scale(0.92);
  }
}
.flower:nth-child(34) {
  transform: translate(24.649vw, -10px) scale(0.98);
  animation: fall-34 20s -19s linear infinite;
}
@keyframes fall-34 {
  76.254% {
    transform: translate(32.6326vw, 76.254vh) scale(0.98);
  }
  to {
    transform: translate(28.6408vw, 100vh) scale(0.98);
  }
}
.flower:nth-child(35) {
  transform: translate(40.3635vw, -10px) scale(0.8);
  animation: fall-35 25s -10s linear infinite;
}
@keyframes fall-35 {
  72.383% {
    transform: translate(31.0517vw, 72.383vh) scale(0.8);
  }
  to {
    transform: translate(35.7076vw, 100vh) scale(0.8);
  }
}
.flower:nth-child(36) {
  transform: translate(3.4315vw, -10px) scale(0.94);
  animation: fall-36 24s -24s linear infinite;
}
@keyframes fall-36 {
  32.527% {
    transform: translate(-1.1077vw, 32.527vh) scale(0.94);
  }
  to {
    transform: translate(1.1619vw, 100vh) scale(0.94);
  }
}
.flower:nth-child(37) {
  transform: translate(10.9511vw, -10px) scale(0.88);
  animation: fall-37 13s -2s linear infinite;
}
@keyframes fall-37 {
  40.522% {
    transform: translate(11.6967vw, 40.522vh) scale(0.88);
  }
  to {
    transform: translate(11.3239vw, 100vh) scale(0.88);
  }
}
.flower:nth-child(38) {
  transform: translate(69.3432vw, -10px) scale(0.96);
  animation: fall-38 18s -30s linear infinite;
}
@keyframes fall-38 {
  72.773% {
    transform: translate(70.3002vw, 72.773vh) scale(0.96);
  }
  to {
    transform: translate(69.8217vw, 100vh) scale(0.96);
  }
}
.flower:nth-child(39) {
  transform: translate(52.5053vw, -10px) scale(0.91);
  animation: fall-39 23s -17s linear infinite;
}
@keyframes fall-39 {
  30.926% {
    transform: translate(43.1419vw, 30.926vh) scale(0.91);
  }
  to {
    transform: translate(47.8236vw, 100vh) scale(0.91);
  }
}
.flower:nth-child(40) {
  transform: translate(24.7891vw, -10px) scale(0.87);
  animation: fall-40 17s -14s linear infinite;
}
@keyframes fall-40 {
  63.594% {
    transform: translate(15.5732vw, 63.594vh) scale(0.87);
  }
  to {
    transform: translate(20.18115vw, 100vh) scale(0.87);
  }
}
.flower:nth-child(41) {
  transform: translate(31.5849vw, -10px) scale(0.86);
  animation: fall-41 13s -8s linear infinite;
}
@keyframes fall-41 {
  56.174% {
    transform: translate(28.8027vw, 56.174vh) scale(0.86);
  }
  to {
    transform: translate(30.1938vw, 100vh) scale(0.86);
  }
}
.flower:nth-child(42) {
  transform: translate(96.3988vw, -10px) scale(0.94);
  animation: fall-42 15s -18s linear infinite;
}
@keyframes fall-42 {
  66.464% {
    transform: translate(93.3711vw, 66.464vh) scale(0.94);
  }
  to {
    transform: translate(94.88495vw, 100vh) scale(0.94);
  }
}
.flower:nth-child(43) {
  transform: translate(84.1555vw, -10px) scale(0.94);
  animation: fall-43 11s -28s linear infinite;
}
@keyframes fall-43 {
  67% {
    transform: translate(75.2673vw, 67vh) scale(0.94);
  }
  to {
    transform: translate(79.7114vw, 100vh) scale(0.94);
  }
}
.flower:nth-child(44) {
  transform: translate(72.8261vw, -10px) scale(0.97);
  animation: fall-44 12s -6s linear infinite;
}
@keyframes fall-44 {
  57.486% {
    transform: translate(76.6894vw, 57.486vh) scale(0.97);
  }
  to {
    transform: translate(74.75775vw, 100vh) scale(0.97);
  }
}
.flower:nth-child(45) {
  transform: translate(53.7364vw, -10px) scale(0.8);
  animation: fall-45 29s -30s linear infinite;
}
@keyframes fall-45 {
  32.821% {
    transform: translate(57.1182vw, 32.821vh) scale(0.8);
  }
  to {
    transform: translate(55.4273vw, 100vh) scale(0.8);
  }
}
.flower:nth-child(46) {
  transform: translate(84.731vw, -10px) scale(0.87);
  animation: fall-46 17s -16s linear infinite;
}
@keyframes fall-46 {
  74.919% {
    transform: translate(81.2593vw, 74.919vh) scale(0.87);
  }
  to {
    transform: translate(82.99515vw, 100vh) scale(0.87);
  }
}
.flower:nth-child(47) {
  transform: translate(92.314vw, -10px) scale(0.84);
  animation: fall-47 20s -24s linear infinite;
}
@keyframes fall-47 {
  66.845% {
    transform: translate(86.4541vw, 66.845vh) scale(0.84);
  }
  to {
    transform: translate(89.38405vw, 100vh) scale(0.84);
  }
}
.flower:nth-child(48) {
  transform: translate(89.5788vw, -10px) scale(0.91);
  animation: fall-48 21s -5s linear infinite;
}
@keyframes fall-48 {
  39.126% {
    transform: translate(94.295vw, 39.126vh) scale(0.91);
  }
  to {
    transform: translate(91.9369vw, 100vh) scale(0.91);
  }
}
.flower:nth-child(49) {
  transform: translate(53.8324vw, -10px) scale(0.95);
  animation: fall-49 21s -18s linear infinite;
}
@keyframes fall-49 {
  44.13% {
    transform: translate(52.4732vw, 44.13vh) scale(0.95);
  }
  to {
    transform: translate(53.1528vw, 100vh) scale(0.95);
  }
}
.flower:nth-child(50) {
  transform: translate(91.8349vw, -10px) scale(0.9);
  animation: fall-50 27s -24s linear infinite;
}
@keyframes fall-50 {
  54.149% {
    transform: translate(101.2265vw, 54.149vh) scale(0.9);
  }
  to {
    transform: translate(96.5307vw, 100vh) scale(0.9);
  }
}
.flower:nth-child(51) {
  transform: translate(82.3955vw, -10px) scale(0.87);
  animation: fall-51 19s -18s linear infinite;
}
@keyframes fall-51 {
  71.791% {
    transform: translate(77.8354vw, 71.791vh) scale(0.87);
  }
  to {
    transform: translate(80.11545vw, 100vh) scale(0.87);
  }
}
.flower:nth-child(52) {
  transform: translate(76.4956vw, -10px) scale(0.9);
  animation: fall-52 24s -2s linear infinite;
}
@keyframes fall-52 {
  54.742% {
    transform: translate(72.8496vw, 54.742vh) scale(0.9);
  }
  to {
    transform: translate(74.6726vw, 100vh) scale(0.9);
  }
}
.flower:nth-child(53) {
  transform: translate(69.0478vw, -10px) scale(0.82);
  animation: fall-53 25s -5s linear infinite;
}
@keyframes fall-53 {
  65.02% {
    transform: translate(59.9838vw, 65.02vh) scale(0.82);
  }
  to {
    transform: translate(64.5158vw, 100vh) scale(0.82);
  }
}
.flower:nth-child(54) {
  transform: translate(77.0812vw, -10px) scale(0.91);
  animation: fall-54 22s -19s linear infinite;
}
@keyframes fall-54 {
  71.007% {
    transform: translate(74.1216vw, 71.007vh) scale(0.91);
  }
  to {
    transform: translate(75.6014vw, 100vh) scale(0.91);
  }
}
.flower:nth-child(55) {
  transform: translate(34.7059vw, -10px) scale(0.92);
  animation: fall-55 10s -15s linear infinite;
}
@keyframes fall-55 {
  37.168% {
    transform: translate(32.5723vw, 37.168vh) scale(0.92);
  }
  to {
    transform: translate(33.6391vw, 100vh) scale(0.92);
  }
}
.flower:nth-child(56) {
  transform: translate(9.0276vw, -10px) scale(0.93);
  animation: fall-56 14s -29s linear infinite;
}
@keyframes fall-56 {
  38.822% {
    transform: translate(18.5444vw, 38.822vh) scale(0.93);
  }
  to {
    transform: translate(13.786vw, 100vh) scale(0.93);
  }
}
.flower:nth-child(57) {
  transform: translate(25.772vw, -10px) scale(0.82);
  animation: fall-57 17s -13s linear infinite;
}
@keyframes fall-57 {
  55.778% {
    transform: translate(16.3255vw, 55.778vh) scale(0.82);
  }
  to {
    transform: translate(21.04875vw, 100vh) scale(0.82);
  }
}
.flower:nth-child(58) {
  transform: translate(77.9192vw, -10px) scale(0.95);
  animation: fall-58 20s -5s linear infinite;
}
@keyframes fall-58 {
  57.215% {
    transform: translate(83.8971vw, 57.215vh) scale(0.95);
  }
  to {
    transform: translate(80.90815vw, 100vh) scale(0.95);
  }
}
.flower:nth-child(59) {
  transform: translate(93.9018vw, -10px) scale(0.95);
  animation: fall-59 18s -29s linear infinite;
}
@keyframes fall-59 {
  35.636% {
    transform: translate(96.8241vw, 35.636vh) scale(0.95);
  }
  to {
    transform: translate(95.36295vw, 100vh) scale(0.95);
  }
}
.flower:nth-child(60) {
  transform: translate(63.7742vw, -10px) scale(0.99);
  animation: fall-60 20s -28s linear infinite;
}
@keyframes fall-60 {
  30.815% {
    transform: translate(61.8071vw, 30.815vh) scale(0.99);
  }
  to {
    transform: translate(62.79065vw, 100vh) scale(0.99);
  }
}
.flower:nth-child(61) {
  transform: translate(59.7607vw, -10px) scale(0.94);
  animation: fall-61 28s -11s linear infinite;
}
@keyframes fall-61 {
  32.095% {
    transform: translate(54.058vw, 32.095vh) scale(0.94);
  }
  to {
    transform: translate(56.90935vw, 100vh) scale(0.94);
  }
}
.flower:nth-child(62) {
  transform: translate(74.3954vw, -10px) scale(0.86);
  animation: fall-62 15s -1s linear infinite;
}
@keyframes fall-62 {
  66.792% {
    transform: translate(80.5041vw, 66.792vh) scale(0.86);
  }
  to {
    transform: translate(77.44975vw, 100vh) scale(0.86);
  }
}
.flower:nth-child(63) {
  transform: translate(4.142vw, -10px) scale(0.81);
  animation: fall-63 29s -19s linear infinite;
}
@keyframes fall-63 {
  79.432% {
    transform: translate(10.2725vw, 79.432vh) scale(0.81);
  }
  to {
    transform: translate(7.20725vw, 100vh) scale(0.81);
  }
}
.flower:nth-child(64) {
  transform: translate(93.6702vw, -10px) scale(0.82);
  animation: fall-64 20s -16s linear infinite;
}
@keyframes fall-64 {
  50.042% {
    transform: translate(100.5864vw, 50.042vh) scale(0.82);
  }
  to {
    transform: translate(97.1283vw, 100vh) scale(0.82);
  }
}
.flower:nth-child(65) {
  transform: translate(60.027vw, -10px) scale(0.83);
  animation: fall-65 13s -16s linear infinite;
}
@keyframes fall-65 {
  68.026% {
    transform: translate(53.2311vw, 68.026vh) scale(0.83);
  }
  to {
    transform: translate(56.62905vw, 100vh) scale(0.83);
  }
}
.flower:nth-child(66) {
  transform: translate(79.6115vw, -10px) scale(0.92);
  animation: fall-66 20s -1s linear infinite;
}
@keyframes fall-66 {
  53.983% {
    transform: translate(78.3539vw, 53.983vh) scale(0.92);
  }
  to {
    transform: translate(78.9827vw, 100vh) scale(0.92);
  }
}
.flower:nth-child(67) {
  transform: translate(50.5959vw, -10px) scale(0.84);
  animation: fall-67 25s -16s linear infinite;
}
@keyframes fall-67 {
  65.573% {
    transform: translate(52.4031vw, 65.573vh) scale(0.84);
  }
  to {
    transform: translate(51.4995vw, 100vh) scale(0.84);
  }
}
.flower:nth-child(68) {
  transform: translate(66.9009vw, -10px) scale(0.97);
  animation: fall-68 15s -16s linear infinite;
}
@keyframes fall-68 {
  64.221% {
    transform: translate(60.3403vw, 64.221vh) scale(0.97);
  }
  to {
    transform: translate(63.6206vw, 100vh) scale(0.97);
  }
}
.flower:nth-child(69) {
  transform: translate(20.8213vw, -10px) scale(0.87);
  animation: fall-69 16s -26s linear infinite;
}
@keyframes fall-69 {
  68.117% {
    transform: translate(22.1951vw, 68.117vh) scale(0.87);
  }
  to {
    transform: translate(21.5082vw, 100vh) scale(0.87);
  }
}
.flower:nth-child(70) {
  transform: translate(96.522vw, -10px) scale(0.88);
  animation: fall-70 20s -27s linear infinite;
}
@keyframes fall-70 {
  37.819% {
    transform: translate(94.9842vw, 37.819vh) scale(0.88);
  }
  to {
    transform: translate(95.7531vw, 100vh) scale(0.88);
  }
}
.flower:nth-child(71) {
  transform: translate(31.2367vw, -10px) scale(0.89);
  animation: fall-71 22s -6s linear infinite;
}
@keyframes fall-71 {
  42.689% {
    transform: translate(26.6443vw, 42.689vh) scale(0.89);
  }
  to {
    transform: translate(28.9405vw, 100vh) scale(0.89);
  }
}
.flower:nth-child(72) {
  transform: translate(73.7013vw, -10px) scale(0.95);
  animation: fall-72 13s -30s linear infinite;
}
@keyframes fall-72 {
  47.357% {
    transform: translate(65.6137vw, 47.357vh) scale(0.95);
  }
  to {
    transform: translate(69.6575vw, 100vh) scale(0.95);
  }
}
.flower:nth-child(73) {
  transform: translate(82.4726vw, -10px) scale(0.91);
  animation: fall-73 24s -17s linear infinite;
}
@keyframes fall-73 {
  56.897% {
    transform: translate(89.7827vw, 56.897vh) scale(0.91);
  }
  to {
    transform: translate(86.12765vw, 100vh) scale(0.91);
  }
}
.flower:nth-child(74) {
  transform: translate(87.1736vw, -10px) scale(0.91);
  animation: fall-74 21s -11s linear infinite;
}
@keyframes fall-74 {
  74.959% {
    transform: translate(79.6019vw, 74.959vh) scale(0.91);
  }
  to {
    transform: translate(83.38775vw, 100vh) scale(0.91);
  }
}
.flower:nth-child(75) {
  transform: translate(52.879vw, -10px) scale(0.97);
  animation: fall-75 24s -19s linear infinite;
}
@keyframes fall-75 {
  59.03% {
    transform: translate(58.7118vw, 59.03vh) scale(0.97);
  }
  to {
    transform: translate(55.7954vw, 100vh) scale(0.97);
  }
}
.flower:nth-child(76) {
  transform: translate(38.1871vw, -10px) scale(0.9);
  animation: fall-76 29s -1s linear infinite;
}
@keyframes fall-76 {
  73.267% {
    transform: translate(46.037vw, 73.267vh) scale(0.9);
  }
  to {
    transform: translate(42.11205vw, 100vh) scale(0.9);
  }
}
.flower:nth-child(77) {
  transform: translate(76.8523vw, -10px) scale(0.87);
  animation: fall-77 11s -23s linear infinite;
}
@keyframes fall-77 {
  70.922% {
    transform: translate(72.5653vw, 70.922vh) scale(0.87);
  }
  to {
    transform: translate(74.7088vw, 100vh) scale(0.87);
  }
}
.flower:nth-child(78) {
  transform: translate(62.9108vw, -10px) scale(0.93);
  animation: fall-78 12s -7s linear infinite;
}
@keyframes fall-78 {
  32.188% {
    transform: translate(69.9999vw, 32.188vh) scale(0.93);
  }
  to {
    transform: translate(66.45535vw, 100vh) scale(0.93);
  }
}
.flower:nth-child(79) {
  transform: translate(39.0913vw, -10px) scale(0.97);
  animation: fall-79 13s -29s linear infinite;
}
@keyframes fall-79 {
  76.147% {
    transform: translate(47.8506vw, 76.147vh) scale(0.97);
  }
  to {
    transform: translate(43.47095vw, 100vh) scale(0.97);
  }
}
.flower:nth-child(80) {
  transform: translate(19.9261vw, -10px) scale(0.93);
  animation: fall-80 20s -2s linear infinite;
}
@keyframes fall-80 {
  58.571% {
    transform: translate(22.1494vw, 58.571vh) scale(0.93);
  }
  to {
    transform: translate(21.03775vw, 100vh) scale(0.93);
  }
}
.flower:nth-child(81) {
  transform: translate(71.7619vw, -10px) scale(0.97);
  animation: fall-81 14s -7s linear infinite;
}
@keyframes fall-81 {
  47.648% {
    transform: translate(64.0153vw, 47.648vh) scale(0.97);
  }
  to {
    transform: translate(67.8886vw, 100vh) scale(0.97);
  }
}
.flower:nth-child(82) {
  transform: translate(85.7208vw, -10px) scale(0.82);
  animation: fall-82 30s -14s linear infinite;
}
@keyframes fall-82 {
  68.697% {
    transform: translate(85.3931vw, 68.697vh) scale(0.82);
  }
  to {
    transform: translate(85.55695vw, 100vh) scale(0.82);
  }
}
.flower:nth-child(83) {
  transform: translate(21.6334vw, -10px) scale(0.91);
  animation: fall-83 26s -18s linear infinite;
}
@keyframes fall-83 {
  47.619% {
    transform: translate(26.1925vw, 47.619vh) scale(0.91);
  }
  to {
    transform: translate(23.91295vw, 100vh) scale(0.91);
  }
}
.flower:nth-child(84) {
  transform: translate(58.8234vw, -10px) scale(0.86);
  animation: fall-84 19s -28s linear infinite;
}
@keyframes fall-84 {
  68.011% {
    transform: translate(52.5243vw, 68.011vh) scale(0.86);
  }
  to {
    transform: translate(55.67385vw, 100vh) scale(0.86);
  }
}
.flower:nth-child(85) {
  transform: translate(76.5147vw, -10px) scale(0.87);
  animation: fall-85 20s -15s linear infinite;
}
@keyframes fall-85 {
  50.634% {
    transform: translate(81.7993vw, 50.634vh) scale(0.87);
  }
  to {
    transform: translate(79.157vw, 100vh) scale(0.87);
  }
}
.flower:nth-child(86) {
  transform: translate(33.6277vw, -10px) scale(0.81);
  animation: fall-86 29s -30s linear infinite;
}
@keyframes fall-86 {
  77.884% {
    transform: translate(40.8623vw, 77.884vh) scale(0.81);
  }
  to {
    transform: translate(37.245vw, 100vh) scale(0.81);
  }
}
.flower:nth-child(87) {
  transform: translate(39.239vw, -10px) scale(0.94);
  animation: fall-87 19s -12s linear infinite;
}
@keyframes fall-87 {
  30.38% {
    transform: translate(34.6035vw, 30.38vh) scale(0.94);
  }
  to {
    transform: translate(36.92125vw, 100vh) scale(0.94);
  }
}
.flower:nth-child(88) {
  transform: translate(24.7446vw, -10px) scale(0.94);
  animation: fall-88 23s -15s linear infinite;
}
@keyframes fall-88 {
  70.769% {
    transform: translate(18.234vw, 70.769vh) scale(0.94);
  }
  to {
    transform: translate(21.4893vw, 100vh) scale(0.94);
  }
}
.flower:nth-child(89) {
  transform: translate(43.243vw, -10px) scale(0.88);
  animation: fall-89 24s -19s linear infinite;
}
@keyframes fall-89 {
  78.956% {
    transform: translate(46.2064vw, 78.956vh) scale(0.88);
  }
  to {
    transform: translate(44.7247vw, 100vh) scale(0.88);
  }
}
.flower:nth-child(90) {
  transform: translate(43.2309vw, -10px) scale(0.85);
  animation: fall-90 30s -16s linear infinite;
}
@keyframes fall-90 {
  46.372% {
    transform: translate(37.4895vw, 46.372vh) scale(0.85);
  }
  to {
    transform: translate(40.3602vw, 100vh) scale(0.85);
  }
}
.flower:nth-child(91) {
  transform: translate(44.8005vw, -10px) scale(1);
  animation: fall-91 14s -30s linear infinite;
}
@keyframes fall-91 {
  43.356% {
    transform: translate(49.0181vw, 43.356vh) scale(1);
  }
  to {
    transform: translate(46.9093vw, 100vh) scale(1);
  }
}
.flower:nth-child(92) {
  transform: translate(34.0365vw, -10px) scale(0.97);
  animation: fall-92 13s -5s linear infinite;
}
@keyframes fall-92 {
  74.231% {
    transform: translate(36.8427vw, 74.231vh) scale(0.97);
  }
  to {
    transform: translate(35.4396vw, 100vh) scale(0.97);
  }
}
.flower:nth-child(93) {
  transform: translate(88.9074vw, -10px) scale(0.91);
  animation: fall-93 27s -9s linear infinite;
}
@keyframes fall-93 {
  51.454% {
    transform: translate(97.2161vw, 51.454vh) scale(0.91);
  }
  to {
    transform: translate(93.06175vw, 100vh) scale(0.91);
  }
}
.flower:nth-child(94) {
  transform: translate(5.3571vw, -10px) scale(0.87);
  animation: fall-94 19s -7s linear infinite;
}
@keyframes fall-94 {
  49.419% {
    transform: translate(13.8795vw, 49.419vh) scale(0.87);
  }
  to {
    transform: translate(9.6183vw, 100vh) scale(0.87);
  }
}
.flower:nth-child(95) {
  transform: translate(25.4098vw, -10px) scale(0.8);
  animation: fall-95 14s -3s linear infinite;
}
@keyframes fall-95 {
  36.443% {
    transform: translate(15.4955vw, 36.443vh) scale(0.8);
  }
  to {
    transform: translate(20.45265vw, 100vh) scale(0.8);
  }
}
.flower:nth-child(96) {
  transform: translate(98.5021vw, -10px) scale(0.98);
  animation: fall-96 11s -4s linear infinite;
}
@keyframes fall-96 {
  51.767% {
    transform: translate(94.7605vw, 51.767vh) scale(0.98);
  }
  to {
    transform: translate(96.6313vw, 100vh) scale(0.98);
  }
}
.flower:nth-child(97) {
  transform: translate(78.8059vw, -10px) scale(0.92);
  animation: fall-97 25s -4s linear infinite;
}
@keyframes fall-97 {
  52.14% {
    transform: translate(72.12vw, 52.14vh) scale(0.92);
  }
  to {
    transform: translate(75.46295vw, 100vh) scale(0.92);
  }
}
.flower:nth-child(98) {
  transform: translate(10.0322vw, -10px) scale(0.91);
  animation: fall-98 17s -23s linear infinite;
}
@keyframes fall-98 {
  31.917% {
    transform: translate(15.2384vw, 31.917vh) scale(0.91);
  }
  to {
    transform: translate(12.6353vw, 100vh) scale(0.91);
  }
}
.flower:nth-child(99) {
  transform: translate(24.4057vw, -10px) scale(0.88);
  animation: fall-99 26s -26s linear infinite;
}
@keyframes fall-99 {
  52.303% {
    transform: translate(19.8753vw, 52.303vh) scale(0.88);
  }
  to {
    transform: translate(22.1405vw, 100vh) scale(0.88);
  }
}
.flower:nth-child(100) {
  transform: translate(28.4727vw, -10px) scale(0.96);
  animation: fall-100 28s -24s linear infinite;
}
@keyframes fall-100 {
  76.834% {
    transform: translate(28.7362vw, 76.834vh) scale(0.96);
  }
  to {
    transform: translate(28.60445vw, 100vh) scale(0.96);
  }
}