@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Noto Serif JP", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-weight: 400;
  letter-spacing: 0.01em;
  overflow: hidden;
}

:root {
  --transition-fluent: all 3s cubic-bezier(0.02, 0.73, 0, 0.92);
}

body {
  --offset: 0px;
  width: 100%;
  height: 100%;
  background: url(../img/bg.jpg);
  text-align: center;
}

.bg-main {
  position: absolute;
  width: 110vw;
  height: 79%;
  background: url(../img/bg_main.jpg) repeat-x center top;
  background-size: cover;
  z-index: -299;
  top: 0;
  left: -5vw;
  transform: translateX(calc(var(--offset) * -2));
  transition: var(--transition-fluent);
}

.main {
  padding-top: 12vh;
  left: 0;
  width: 100%;
  height: 100%;
}

.main * {
  margin-bottom: 3vh;
}

.main .chara {
  height: 60%;
  background: url(../img/img_chara_large.png) no-repeat center;
  background-size: contain;
  transform: translateX(var(--offset));
  transition: var(--transition-fluent);
}

.main .logo {
  height: 12%;
  background: url(../img/logo.png) no-repeat center;
  background-size: contain;
  transform: translateX(calc(var(--offset) * 0.25));
  transition: var(--transition-fluent);
}

.flowers {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -199;
}

.flowers .flower {
  position: absolute;
  width: 4.4%;
  height: 4.4%;
}

.flowers .flower p {
  width: 100%;
  height: 100%;
  background: url(../img/bg_flower.png) no-repeat center;
  background-size: contain;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 750px) {
  .main .chara {
    background-image: url(../img/img_chara_sp_large.png);
  }
}
